nav {
  display: flex;
  padding: 1em;
  background white;
}

.menu-dropdown {
    padding: 1rem;
}

.menu-dropdown:hover .dropdown-content {
  opacity: 1;
  transform: translateX(0);
}

.dropdown-content {
  transition: all 0.25s ease-in-out;
  opacity: 0;
  position: absolute;
  /* background: #fff; */
  padding: 1rem 0 0 1rem;
  transform: translateX(-5px);
  max-width: 300px;
  z-index: 10;
}

.dropdown-hover {
  position: absolute;
  background: white;
  box-shadow: 0 0 10px #999;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  opacity: 0;
}
